<div housefund class="housefund" id="container">
    <canvas id="pixie"></canvas>
    <div id="mountains"></div>
    <div id="grass"></div>
    <div class="fund">
        <div class="input-group">
            <span class="input-group-addon">年龄</span>
            <input type="text" class="form-control" placeholder="Age" aria-describedby="basic-addon1">
        </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
            <button type="button" class="btn btn-default">男</button>
            <button type="button" class="btn btn-default">女</button>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</div>